/*
* YT Product Slider CSS
*/

.yt-sgl-product-fav {
  width: 24px;
}

.yt-sgl-product-off {
  background-color: var(--color-primary);
  font-size: 18px;
  font-weight: 500;
  color: var(--color-text-primary);
  line-height: 1.11;
  min-width: 66px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: -1px;
  display: none;
}

.yt-sgl-product-cpnt {
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  position: relative;
  transition: all .55s ease;
}

.yt-sgl-product-cpnt:hover {
  box-shadow: 0 10px 50px -12px rgba(0,0,0,.1);
  /* transform: translateY(-10px); */
  transition: all .55s ease;
}

.yt-sgl-product-cpnt:hover .yt-sgl-product-add-btn {
  background-color: var(--button-primary);
  color: var(--button-text-primary);
  border: 0px;
}

.yt-sgl-component-wrapper {
  border-radius: 10px;
  position: relative;
}

.rec-item-wrapper {
  outline: none !important;
  box-shadow: none;
}

.yt-sgl-product-add-btn.buttoncart {
  position: relative;
  bottom: -1px;
  border-radius: 4px;
  background-color: var(--button-primary);
  color: var(--button-text-primary);
  border: 0px;
  padding-left: 24px;
  padding-right: 24px;
}

.price.yt-sgl-price-wrap {
  margin-bottom: 16px;
}

.yt-sgl-product-title {
  font-size: 20px;
  line-height: 0.95;
  color: var(--color-black);
  margin: 25px 0 14px;
  font-weight: bold;
}

.yt-product-bg-image {
  width: 100%;
  height: 165px;
  background-size: cover;
  background-position: center top;
  cursor: pointer;
  max-width: 165px;    
  border: 1px solid silver;
  border-radius: 12px;
}

.list-container {
  padding: 30px;
}

.cm-bdr-rad-prdt-btn {
  overflow: hidden !important;
}
.yt-sgl-product-img {
  max-height: 150px;
}

.yt-sgl-component-more {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: right;
  border-radius: 0;
  color: var(--color-dark-grey);
  border-bottom: 1px solid var(--color-dark-grey);
  text-decoration: none !important;
}

.yt-sgl-comonent-top-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.13;
  text-align: left;
  color: var(--color-black);
}

.yt-sgl-product-off {
  background-color: var(--color-primary);
  font-size: 18px;
  font-weight: 500;
  color: var(--color-text-primary);
  line-height: 1.11;
  min-width: 66px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: -1px;
}

.yt-sgl-product-sale-price {
  color: var(--color-dark-grey);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.yt-sgl-product-reg-price2 {
  padding-left: 8px;
  color: darkgray;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.yt-sgl-product-add-btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.36px;
  color: #ffffff;
}

.yt-cm-row-margin {
  margin: 0 -5px;
}

.cm-col-prdt-col {
  padding: 0 5px;
}

.yt-product-code {
  color:silver;
}

.yt-product-rating {
  color:dimgray;
}

.rating-star-icon {
  color:var(--color-primary);
  vertical-align: text-top;
}

.mid-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1400px) {
  .yt-cm-row-margin {
    margin: 0 -10px;
  }
  .cm-col-prdt-col {
    padding: 0 10px;
  }
  .cm-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
/*
* Screen for under 1280 Resolution 
*/

@media (max-width: 1279.92px) {
  .yt-cm-row-margin .cm-col-prdt-col {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 10px !important;
  }
  .cm-col-prdt-col {
    padding: 0 10px !important;
  }
  .yt-sgl-product-off {
    font-size: 12px;
    line-height: 1.17;
    min-width: 35px;
  }
  .yt-sgl-product-title {
    font-size: 14px;
    line-height: 0.71;
    margin-top: 15px;
    margin-bottom: 8px;
  }
  .price.yt-sgl-price-wrap .yt-sgl-product-sale-price,
  .price.yt-sgl-price-wrap .yt-sgl-product-reg-price2 {
    font-size: 12px;
    line-height: 1.17;
    font-weight: 500;
    margin-bottom: 16px;
  }
  .yt-sgl-product-add-btn.buttoncart {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.28px;
  }
  .price.yt-sgl-price-wrap {
    margin-bottom: 16px;
  }
  .yt-allproduct-main-wrap {
    margin-top: 0px !important;
  }
}
/*
* Screen for under 768 Resolution 
*/

@media (max-width: 767.92px) {
  .yt-cm-row-margin .cm-col-prdt-col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 6.5px 0 5px !important;
  }
  .yt-sgl-product-title {
    font-size: 16px;
    line-height: 1.19;
    margin-top: 20px;
    margin-bottom: 23px;
  }
  .price.yt-sgl-price-wrap .yt-sgl-product-sale-price,
  .price.yt-sgl-price-wrap .yt-sgl-product-reg-price2 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 18px;
  }
  .yt-sgl-product-add-btn.buttoncart {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: normal;
  }
  .price.yt-sgl-price-wrap {
    margin-bottom: 18px;
  }
  .yt-allproduct-main-wrap {
    margin-top: 15px !important;
  }
  .yt-cm-row-margin {
    margin: 0 -5px;
  }
}

@media (min-width: 1366px) and (max-width: 1900px) {
  .yt-sgl-product-title {
    font-size: 18px;
    margin-top: 27px;
    margin-bottom: 0px;
  }
  .yt-sgl-product-off {
    min-width: 50px;
    font-size: 16px;
    line-height: 1.13;
  }
}
